<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>404 - F.M </title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
 
    <!--external css-->
    <link href="/dist/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/dist/css/style.css" rel="stylesheet">
    <link href="/dist/css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/registerok.css" />
	</head>
	
	<body>
	  <div id="register-page">
	  	<div class="container">  	
			<div class="panel panel-danger panel-ok">
				<div class="panel-heading">
					<h3 class="panel-title">
						您访问的页面不存在
					</h3>
				</div>
				<div class="panel-body">
					<p>404</p>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-danger goto-login" onclick="location.href='/index/login/index'" >返回登陆</button>
				</div>
			</div>
	  	</div>
	</div>	

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/dist/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/dist/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/static/img/login-bg.jpg", {speed: 100});	
	</script>

  </body>
</html>