{layout name="layout"}
	<head>
		<link href="/static/css/home.css" rel="stylesheet">
	</head>
<!--中间上方 -->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="row">
			<div class="col-lg-9 main-chart">
				<div class="row mtbox">
					<div class="col-md-4 col-sm-4 box0">
						<div class="box1">
							<span class="fa fa-cny"></span>
							<h3>资产</h3>
						</div>
						<p id="asset">0.00</p>
					</div>
					<div class="col-md-4 col-sm-4 box0">
						<div class="box1">
							<span class="fa fa-minus-square"></span>
							<h3>负债</h3>
						</div>
						<p id="debtee">0.00</p>
					</div>
					<div class="col-md-4 col-sm-4 box0">
						<div class="box1">
							<span class="fa fa-money"></span>
							<h3>净资产</h3>
						</div>
						<p id="netasset">0.00</p>
					</div>
				</div>
				<!-- /row mt -->
				
				<!-- 中间中部 -->
				<div class="row mt">
					<!-- SERVER STATUS PANELS -->
					<div class="col-md-12 mb">
	                  	<div class="content-panel">
	                          <table class="table table-hover table-all">
	                  	  	  <h4><i class="fa fa-angle-right"></i> 概况总览</h4>
	                  	  	  <hr>
	                              <thead>
	                              <tr>
	                                  <th></th>
	                                  <th>本周</th>
	                                  <th>本月</th>
	                                  <th>本年</th>
	                              </tr>
	                              </thead>
	                              <tbody>
	                              <tr>
	                                  <td><i class="fa fa-plus-square"> 收入</td>
	                                  <td id="w_in"></td>
	                                  <td id="m_in"></td>
	                                  <td id="y_in"></td>
	                              </tr>
	                              <tr>
	                                  <td><i class="fa fa-minus-square"> 支出</td>
	                                  <td id="w_out"></td>
	                                  <td id="m_out"></td>
	                                  <td id="y_out"></td>
	                              </tr>
	                              </tbody>
	                          </table>
	                  	  </div><!-- /content-panel -->
	                </div><!-- /col-md-12 -->
				</div>
				<!-- /row -->
				
				<!-- 中间下方-图表 -->
				<div class="row mt" style="margin-top:0px">
					<div class="col-md-12 mb">
						<div class="border-head">
							<h3>最近6个月的收支</h3>
						</div>
						<div id="sz-chart">
							
						</div>
					</div>
					<!--custom chart end-->
				</div>
				<!-- /row -->
			</div>
			<!-- /col-lg-9 END SECTION MIDDLE -->
			<!-- 右侧栏 -->
			<div class="col-lg-3 ds">
				<!-- 天气 -->
				<div class="mb">
					<div class="weather pn weather-on-time">
						<i class="fa fa-cloud fa-4x"></i>
						<h2></h2>
						<h4>郑州</h4>
					</div>
				</div>
				<!-- /天气 -->
				<!-- 日历 -->
				<div id="calendar" class="mb" style="position:relative;">
					<div class="panel green-panel no-margin">
						<div class="panel-body" >
							<div class="modal fade" id="tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position:absolute;top:80px;">
								<div class="modal-dialog" style="width:200px">
									<div class="modal-content">
										<div class="modal-header" style="padding:5px;background:#424a5d">	
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#ffffff">
												&times;
											</button>
											<h4 class="modal-title" style="text-align:left;padding-left:10px;">
												签 到
											</h4>
										</div>
										<div class="modal-body" style="height:70px;color:#000000">
											<!-- /msg -->
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal -->
							</div>
							<div id="my-calendar"></div>
						</div>
					</div>
				</div>
				<!-- /日历 -->
			</div>
			<!-- /col-lg-3 -->
		</div>
		<!-- /row -->
	</section>
</section>
<!--main content end-->

<script type="text/javascript" src="/dist/js/zabuto_calendar.js"></script>	
<script type="text/javascript" src="/dist/js/highcharts.js"></script>	
<script type="text/javascript" src="/dist/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/dist/js/gritter-conf.js"></script>
<script type="text/javascript" src="/static/js/home.js"></script>