{layout name="layout"}
	<head>
		<link href="/static/css/home.css" rel="stylesheet">
	</head>
<!--中间上方 -->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="row">
			<div class="col-lg-9 main-chart">
				<div class="row mtbox">
					<div class="col-md-4 col-sm-4 box0">
						<div class="box1">
							<span class="fa fa-cny"></span>
							<h3>资产</h3>
						</div>
						<p id="asset">0.00</p>
					</div>
					<div class="col-md-4 col-sm-4 box0">
						<div class="box1">
							<span class="fa fa-minus-square"></span>
							<h3>负债</h3>
						</div>
						<p id="debtee">0.00</p>
					</div>
					<div class="col-md-4 col-sm-4 box0">
						<div class="box1">
							<span class="fa fa-money"></span>
							<h3>净资产</h3>
						</div>
						<p id="netasset">0.00</p>
					</div>
				</div>
				<!-- /row mt -->
				
				<!-- 中间中部 -->
				<div class="row mt">
					<!-- SERVER STATUS PANELS -->
					<div class="col-md-12 mb">
	                  	<div class="content-panel">
	                          <table class="table table-hover table-all">
	                  	  	  <h4><i class="fa fa-angle-right"></i> 概况总览</h4>
	                  	  	  <hr>
	                              <thead>
	                              <tr>
	                                  <th></th>
	                                  <th>本周</th>
	                                  <th>本月</th>
	                                  <th>本年</th>
	                              </tr>
	                              </thead>
	                              <tbody>
	                              <tr>
	                                  <td><i class="fa fa-plus-square"> 收入</td>
	                                  <td id="w_in"></td>
	                                  <td id="m_in"></td>
	                                  <td id="y_in"></td>
	                              </tr>
	                              <tr>
	                                  <td><i class="fa fa-minus-square"> 支出</td>
	                                  <td id="w_out"></td>
	                                  <td id="m_out"></td>
	                                  <td id="y_out"></td>
	                              </tr>
	                              </tbody>
	                          </table>
	                  	  </div><! --/content-panel -->
	                </div><!-- /col-md-12 -->
				</div>
				<!-- /row -->
				
				<!-- 中间下方-图表 -->
				<div class="row mt">
					<div class="col-md-12 mb">
						<div class="border-head">
							<h3>最近6个月的收支</h3>
						</div>
						<div id="sz-chart">
							
						</div>
					</div>
					<!--custom chart end-->
				</div>
				<!-- /row -->
			</div>
			<!-- /col-lg-9 END SECTION MIDDLE -->
			<!-- 右侧栏 -->
			<div class="col-lg-3 ds">
				<!-- 天气 -->
				<div class="mb">
					<div class="weather pn weather-on-time">
						<i class="fa fa-cloud fa-4x"></i>
						<h2>11º C</h2>
						<h4>郑州</h4>
					</div>
				</div>
				<!-- /天气 -->
				<!-- 日历 -->
				<div id="calendar" class="mb">
					<div class="panel green-panel no-margin">
						<div class="panel-body">
							<div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
								<div class="arrow"></div>
								<h3 class="popover-title" style="disadding: none;"></h3>
								<div id="date-popover-content" class="popover-content"></div>
							</div>
							<div id="my-calendar"></div>
						</div>
					</div>
				</div>
				<!-- /日历 -->
			</div>
			<!-- /col-lg-3 -->
		</div>
		<!-- /row -->
	</section>
</section>
<!--main content end-->

<script src="/dist/js/zabuto_calendar.js"></script>	
<script src="/dist/js/highcharts.js"></script>	
    <script type="text/javascript" src="/dist/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="/dist/js/gritter-conf.js"></script>
<script>

	$.ajax({
		type: "get",
		url: '/index/home/all',
		async: false,
		success: function (msg) {
			if(msg.success){
				$("#asset").text(msg.data.asset);
				$("#debtee").text(msg.data.debtee);
				$("#netasset").text(msg.data.netasset);
			}
		},
		error: function (e) {
			console.log(e);
		}
	});
	
	$.ajax({
		type: "get",
		url: '/index/home/income',
		async: false,
		success: function (msg) {
			if(msg.success){
				$("#w_in").text("￥"+msg.data.week_income);
				$("#m_in").text("￥"+msg.data.month_income);
				$("#y_in").text("￥"+msg.data.year_income);
			}
		},
		error: function (e) {
			console.log(e);
		}
	});
	
	$.ajax({
		type: "get",
		url: '/index/home/outgo',
		async: false,
		success: function (msg) {
			if(msg.success){
				$("#w_out").text("￥"+msg.data.week_outgo);
				$("#m_out").text("￥"+msg.data.month_outgo);
				$("#y_out").text("￥"+msg.data.year_outgo);
			}
		},
		error: function (e) {
			console.log(e);
		}
	});
	
	$.getJSON("http://wthrcdn.etouch.cn/weather_mini?city=郑州", function(data) {
		$(".weather-on-time h2").text(data.data.wendu);
		$(".weather-on-time h4").text(data.data.city);
	});
	
	$("#my-calendar").zabuto_calendar({
		action: function () {
			return myDateFunction(this.id, false);
		},
		action_nav: function () {
			return myNavFunction(this.id);
		},
		ajax: {
			url: "#",
			modal: true
		},
		legend: [
			{type: "text", label: "Special event", badge: "00"},
			{type: "block", label: "Regular event", }
		]
	});
	
    $('#sz-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '月收入支出对比图'
        },
        xAxis: {
            categories: [
                '2016.10',
                '2016.11',
                '2016.12',
				'2017.01',
				'2017.02',
				'2017.03',
            ]
        },
		credits:{
			enabled:false // 禁用版权信息
		},
        yAxis: [{
            min: 0,
            title: {
                text: 'RMB'
            }
        }, {
            title: {
                text: ''
            },
            opposite: true
        }],
        legend: {
            shadow: false
        },
        tooltip: {
            shared: true
        },
        plotOptions: {
            column: {
                grouping: false,
                shadow: false,
                borderWidth: 0
            }
        },
        series: [{
            name: '收入',
            color: '#71C8E5',
            data: [4500, 5000, 4650,5100,4300,4321],
            pointPadding: 0.3,
            pointPlacement: 0
        },{
            name: '支出',
            color: '#ffd777',
            data: [2700, 2100, 3000,2500,5400,3700],
            pointPadding: 0.4,
            pointPlacement: 0
        }]
    });

	var unique_id = $.gritter.add({
		// (string | mandatory) the heading of the notification
		title: '今天是您第1天记账!',
		// (string | mandatory) the text inside the notification
		text: '本月预算额度0.00元，已使用0.00元，还剩0.00元可用。',
		// (string | optional) the image to display on the left
		image: '/static/img/ui-sam.jpg',
		// (bool | optional) if you want it to fade out on its own or just sit there
		sticky: true,
		// (int | optional) the time you want it to be alive for before fading out
		time: '1000',
		// (string | optional) the class name you want to apply to that specific message
		class_name: 'welcome-msg'
	});
			
	$("#gritter-item-"+unique_id).parent().addClass("bottom-right");
			
</script>