{layout name="layout"}

<head>
    <link rel="stylesheet" type="text/css" href="/dist/css/wangEditor.css">
    <style type="text/css">
        #editor-trigger {
            height: 400px;
            /*max-height: 500px;*/
        }
        .container {
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
		.title-art{
			width: 80%;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 10px;
			height: 40px;
			font-size: 20px;
			background: #f2f2f2;
			border: 1px dashed;
		}
		.m_i{
			margin-left: 6px;
		}
		a,
		a:visited{
			color: #797979;
		}
		a:hover{
			color: #ffd777;
			cursor: pointer;
		}
		.page-riji{
			padding-left: 20px;
			padding-right: 0px;
			padding-bottom: 20px;
		}
		.page-num{
			padding-right: 0px;
			display:inline-block;
		}
		.page-btn{
			padding-right: 0px;
			padding-left: 0px;
			padding-left: 10px;
			display:inline-block;
		}
		.table tr:last-child td{
			
		}
		.table-riji{
			margin-bottom: 15px;
			border-bottom: 1px solid #ddd;
			min-height: 400px;
			max-height: 450px;
			overflow-y: auto;
		}
		.table{
			margin-bottom: 0px;
		}
    </style>
</head>

<!--中间上方 -->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<h3><i class="fa fa-angle-right"></i> 理财日记</h3>
				<h5>我的理财日记 本月有 0 篇，共 0 篇日记</h5>
				<hr >
				<div class="row">
					<input type="text" class="form-control title-art" placeholder="请输入标题" />
					<div id="editor-container" class="container">
						<div id="editor-trigger">
							<p>请输入内容</p>
						</div>
					</div>
				</div>
			</div>		
			<!-- 右侧栏 -->
			<div class="col-lg-4 col-md-4 col-sm-12">
					<h3><i class="fa fa-angle-right"></i> 日记列表</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 table-riji">
						<table class="table">
							<thead>
								<tr>
									<th>日期</th>
									<th>标题</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr>
									<td>2017-02-16</td>
									<td><a href="#">理财一记</a></td>
									<td>
										<a class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
										<a class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<div class="page-riji col-lg-12 col-md-12 col-sm-12 row">
						<div class="page-num col-lg-7 col-md-7 col-sm-6">
							当前第<b>1</b>页，共<b>2</b>页
						</div>
						<div class="page-btn col-lg-5 col-md-5 col-sm-6">
							<a class="tooltips" data-placement="bottom" data-original-title="首页"><i class="m_i fa fa-fast-backward"></i></a>
							<a class="tooltips" data-placement="bottom" data-original-title="上一页"><i class="m_i fa fa-step-backward"></i></a>
							<a class="tooltips" data-placement="bottom" data-original-title="下一页"><i class="m_i fa fa-step-forward"></i></a>
							<a class="tooltips" data-placement="bottom" data-original-title="末页"><i class="m_i fa fa-fast-forward"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<script type="text/javascript" src="/dist/js/wangEditor.js"></script>
<script type="text/javascript">
	// 阻止输出log
	// wangEditor.config.printLog = false;

	var editor = new wangEditor('editor-trigger');

	// 上传图片
	editor.config.uploadImgUrl = '/upload';
	editor.config.uploadParams = {
		// token1: 'abcde',
		// token2: '12345'
	};
	editor.config.uploadHeaders = {
		// 'Accept' : 'text/x-json'
	}
	// editor.config.uploadImgFileName = 'myFileName';

	// 隐藏网络图片
	// editor.config.hideLinkImg = true;

	// 表情显示项
	editor.config.emotionsShow = 'value';
	editor.config.emotions = {
		'default': {
			title: '默认',
			data: '/dist/data/emotions.data'
		}
	};

	// 插入代码时的默认语言
	// editor.config.codeDefaultLang = 'html'

	// 只粘贴纯文本
	// editor.config.pasteText = true;

	// 跨域上传
	// editor.config.uploadImgUrl = 'http://localhost:8012/upload';

	// 第三方上传
	// editor.config.customUpload = true;

	// 普通菜单配置
	// editor.config.menus = [
	//     'img',
	//     'insertcode',
	//     'eraser',
	//     'fullscreen'
	// ];
	// 只排除某几个菜单（兼容IE低版本，不支持ES5的浏览器），支持ES5的浏览器可直接用 [].map 方法
	// editor.config.menus = $.map(wangEditor.config.menus, function(item, key) {
	//     if (item === 'insertcode') {
	//         return null;
	//     }
	//     if (item === 'fullscreen') {
	//         return null;
	//     }
	//     return item;
	// });

	// onchange 事件
	editor.onchange = function () {
		console.log(this.$txt.html());
	};

	// 取消过滤js
	// editor.config.jsFilter = false;

	// 取消粘贴过来
	// editor.config.pasteFilter = false;

	// 设置 z-index
	// editor.config.zindex = 20000;

	// 语言
	// editor.config.lang = wangEditor.langs['en'];

	// 自定义菜单UI
	// editor.UI.menus.bold = {
	//     normal: '<button style="font-size:20px; margin-top:5px;">B</button>',
	//     selected: '.selected'
	// };
	// editor.UI.menus.italic = {
	//     normal: '<button style="font-size:20px; margin-top:5px;">I</button>',
	//     selected: '<button style="font-size:20px; margin-top:5px;"><i>I</i></button>'
	// };
	editor.create();
    </script>
