{layout name="layout"}
<head>
    <link href="/static/css/chart.css" rel="stylesheet">
</head>
<section id="main-content">
    <section class="wrapper site-min-height">
    <h3><i class="fa fa-bar-chart"></i> 支出预算对比表</h3>
        <div id="morris">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> 
                        <input type="hidden" value="{$year}" id="yearhide"/>
                        <select id="year" style="border:0px;cursor: pointer"></select>年 月支出预算对比表</h4>
                        <div class="panel-body">
                            <div id="budget-zc-chart">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="content-panel">
                        <div class="panel-body">
                            <table class="table table-hover table-all">
                                <thead>
                                    <tr>
                                        <th>月份</th>
                                        <th>预算金额</th>
                                        <th>实际金额</th>
                                        <th>实际差额</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name='budgetlist' id='bud'}
                                    <tr>
                                        <td>{$bud.month}月</td>
                                        <td>￥{$bud.budget}</td>
                                        <td>￥{$bud.outgo}</td>
                                        <td>￥{$bud.fact}</td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="/dist/js/highcharts.js"></script>	
<script>
$(function () {
    var dd = new Date(); 
    var y = dd.getFullYear();
    yearStr = "<option>"+ (y-2) +"</option>"+"<option>"+ (y-1) +"</option>"+"<option>"+ y +"</option>";
    $("#year").html(yearStr);
    $("#year").val($("#yearhide").val());
    $('#year').change(function () {  
        location.href="/index/chart/budget?year="+$('#year').val();
    });
    //请求图表数据
    var budget = [];
    var outgo = [];
    $.ajax({
		type: "post",
		url: '/index/chart/get_budget',
        data:{year:$("#yearhide").val()},
        dataType:"json",
		async: false,
		success: function (msg) {
			if(msg.success){
				budget = msg.data.budget;
                outgo = msg.data.outgo;
			}
		},
		error: function (e) {
			console.log(e);
		}
	});
    $('#budget-zc-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                '一月',
                '二月',
                '三月',
                '四月',
                '五月',
                '六月',
                '七月',
                '八月',
                '九月',
                '十月',
                '十一月',
                '十二月'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额/元'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} 元</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '预算金额',
            data: budget
        }, {
            name: '实际金额',
            data: outgo
        }]
    });
});
</script>