{layout name="layout"}
<head>
    <link href="/static/css/chart.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/dist/css/daterangepicker-bs3.css" />
</head>
<section id="main-content">
    <section class="wrapper site-min-height">
    <h3><i class="fa fa-bar-chart"></i> 日常收支表</h3>
        <div class="row mt">
            <div class="col-lg-8">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 支出堆积表</h4>
                    <div class="panel-body row">
                        <div class="col-lg-2 col-md-2">
                            <label class="control-label" for="reservationtime">选择时间：</label>
                        </div>
                        <div class="input-group col-lg-10 col-md-10">
                            <input type="text" class="form-control" name="reservation" id="reservationtime"
                            data-container="body" data-toggle="popover" data-trigger="manual" data-placement="bottom"
                            alue="01/01/2017 1:00 PM - 01/01/2017 1:30 PM"  class="span4"/>
                            <span style="padding:0px 7px;" class="input-group-addon">
                                <label for="time"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></label>
                            </span>
                        </div>
                        <div id="daily-zc-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 支出分类表</h4>
                    <div class="panel-body">
                        <table class="table table-hover table-all">
                        <hr>
                            <thead>
                                <tr>
                                    <th>支出分类</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>衣服饰品</td>
                                    <td>￥100.00</td>
                                </tr>
                                <tr>
                                    <td>衣服饰品</td>
                                    <td>￥100.00</td>
                                </tr>
                                <tr>
                                    <td>食品酒水</td>
                                    <td>￥100.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col-lg-8">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 收入堆积表</h4>
                    <div class="panel-body row">
                        <div class="col-lg-2 col-md-2">
                            <label class="control-label" for="reservationtime">选择时间：</label>
                        </div>
                        <div class="input-group col-lg-10 col-md-10">
                            <input type="text" class="form-control" name="reservation" id="reservationtime"
                            data-container="body" data-toggle="popover" data-trigger="manual" data-placement="bottom"
                            alue="01/01/2017 1:00 PM - 01/01/2017 1:30 PM"  class="span4"/>
                            <span style="padding:0px 7px;" class="input-group-addon">
                                <label for="time"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></label>
                            </span>
                        </div>
                        <div id="daily-sr-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 收入分类表</h4>
                    <div class="panel-body">
                      <table class="table table-hover table-all" >
                        <thead>
                        <tr>
                            <th>收入分类</th>
                            <th>金额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>衣服饰品</td>
                            <td>￥100.00</td>
                        </tr>
                        <tr>
                            <td>衣服饰品</td>
                            <td>￥100.00</td>
                        </tr>
                        <tr>
                            <td>食品酒水</td>
                            <td>￥100.00</td>
                        </tr>
                        <tr>
                            <td>食品酒水</td>
                            <td>￥100.00</td>
                        </tr>
                        <tr>
                            <td>食品酒水</td>
                            <td>￥100.00</td>
                        </tr>
                        <tr>
                            <td>食品酒水</td>
                            <td>￥100.00</td>
                        </tr>
                        </tbody>
                    </table>   
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="/dist/js/highcharts.js"></script>	
<script>
 $(function () {
    $('#daily-zc-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['衣服饰品', '食品酒水', '居家物业', '行车交通', '交流通讯', '休闲娱乐', '学习进修',
             '人情往来', '医疗保健', '金融保险', '其他款项']
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额/元'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>'+
                    this.series.name + ': ' + this.y + '元 ' + '<br/>' +
                    '合计: ' + this.point.stackTotal + '元';
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        series: [{
            name: '衣服裤子',
            data: [500,0,0,0,0,0,0,0,0,0,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        }, {
            name: '鞋帽包包',
            data: [200,0,0,0,0,0,0,0,0,0,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },{
            name: '化妆饰品',
            data: [0,120,0,0,0,0,0,0,0,0,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },{
            name: '菜品调料',
            data: [0,0,0,0,0,700,0,0,0,0,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },{
            name: '早中晚餐',
            data: [0,0,0,0,0,600,0,0,0,900,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },{
            name: '烟酒茶水',
            data: [0,0,0,0,990,0,0,0,0,0,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },{
            name: '水果副食',
            data: [0,0,0,0,0,0,0,0,0,0,880],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },{
            name: '培训进修',
            data: [0,0,0,0,0,0,880,0,0,0,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        },]
    });
});
</script>

<script>
    $(function () {
    $('#daily-sr-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['职业收入', '其他收入']
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: '金额'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>'+
                    this.series.name + ': ' + this.y + '元 ' + '<br/>' +
                    '合计: ' + this.point.stackTotal + '元';
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        series: [{
            name: '工资收入',
            data: [5000,0,],
            showInLegend: false // 设置为 false 即为不显示在图例中
        }, {
            name: '利息收入',
            data: [200,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        }, {
            name: '奖金收入',
            data: [200,0],
            showInLegend: false // 设置为 false 即为不显示在图例中
        }, {
            name: '礼金收入',
            data: [0,1000],
            showInLegend: false // 设置为 false 即为不显示在图例中
        }, {
            name: '意外来钱',
            data: [0,500],
            showInLegend: false // 设置为 false 即为不显示在图例中
        }]
    });
});

</script>

<!-- 选择时间段 -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#reservationtime').daterangepicker({
             timePicker: true,
             timePickerIncrement: 30,
             format: 'MM/DD/YYYY h:mm A'
        }, function(start, end, label) {
             console.log(start.toISOString(), end.toISOString(), label);
        });
   });
</script>

<script type="text/javascript" src="/dist/js/moment.js"></script>
<script type="text/javascript" src="/dist/js/daterangepicker.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>
