{layout name="layout"}
<head>
    <link href="/static/css/chart.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/dist/css/daterangepicker-bs3.css" />
</head>
<section id="main-content">
    <section class="wrapper site-min-height">
    <h3><i class="fa fa-bar-chart"></i> 日常收支表</h3>
        <div class="row mt">
            <div class="col-lg-8">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 支出堆积表</h4>
                    <div class="panel-body row">
                        <div class="col-lg-2 col-md-2" style="margin-left: 10px;">
                            <label class="control-label time-label" for="out_reservationtime">选择时间：</label>
                        </div>
                        <div class="input-group col-lg-7 col-md-7 "style="margin:0 20px;">
                            <input type="text" class="form-control" name="reservation" id="out_reservationtime"
                            data-container="body" data-toggle="popover" data-trigger="manual" data-placement="bottom" class="span4"/>
                            <span style="padding:0px 7px;cursor: pointer;" class="input-group-addon">
                                <label class="tooltips fresh" data-placement="bottom" data-original-title="重置" onclick="fresh_out()"><i class="fa fa-refresh icon-large"></i></label>
                            </span>
                        </div>
                        <div id="daily-zc-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 支出分类表</h4>
                    <div class="panel-body">
                        <table class="table table-hover table-all">
                            <thead>
                                <tr>
                                    <th>支出分类</th>
                                    <th>金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='outlist' id='out'}
								<tr>
									<td>{$out.type}</td>
									<td>￥{$out.money}</td>
								</tr>	
								{/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col-lg-8">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 收入堆积表</h4>
                    <div class="panel-body row">
                        <div class="col-lg-2 col-md-2" style="margin-left: 10px;">
                            <label class="control-label time-label" for="in_reservationtime">选择时间：</label>
                        </div>
                        <div class="input-group col-lg-7 col-md-7" style="margin:0 20px;">
                            <input type="text" class="form-control" name="reservation" id="in_reservationtime"
                            data-container="body" data-toggle="popover" data-trigger="manual" data-placement="bottom" class="span4"/>
                            <span style="padding:0px 7px;cursor: pointer;" class="input-group-addon">
                                <label class="tooltips fresh" data-placement="bottom" data-original-title="重置" onclick="fresh_in()"><i class="fa fa-refresh"></i></label>
                            </span>
                        </div>
                        <div id="daily-sr-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 收入分类表</h4>
                    <div class="panel-body">
                      <table class="table table-hover table-all" >
                        <thead>
                        <tr>
                            <th>收入分类</th>
                            <th>金额</th>
                        </tr>
                        </thead>
                        <tbody>
                            {volist name='inlist' id='in'}
                            <tr>
                                <td>{$in.type}</td>
                                <td>￥{$in.money}</td>
                            </tr>	
                            {/volist}
                        </tbody>
                    </table>   
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" src="/dist/js/moment.js"></script>
<script type="text/javascript" src="/dist/js/daterangepicker.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>
<script src="/dist/js/highcharts.js"></script>	
<script>
 $(function () {
     //选择时间段
    $('#in_reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            timePicker12Hour : false,
            format: 'YYYY-MM-DD HH:mm:ss'
    }, function(start, end, label) {
            getIndata(start.format('YYYY-MM-DD HH:mm:ss'),end.format('YYYY-MM-DD HH:mm:ss'));
    });

    $('#out_reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            timePicker12Hour : false,
            format: 'YYYY-MM-DD HH:mm:ss'
    }, function(start, end, label) {
            getOutdata(start.format('YYYY-MM-DD HH:mm:ss'),end.format('YYYY-MM-DD HH:mm:ss'));
    });

    getOutdata("","");
    getIndata("","");
    
});

function getOutdata(start,end){
    var type = [];
    var money = [];
    $.ajax({
        type: "post",
        url: '/index/chart/get_group_out',
        data:{start:start,end:end},
        dataType:"json",
        cache: true,
        async: false,
        success: function (msg) {
            if(msg.success){
                type = msg.data.type;
                money = msg.data.money;
            }
        },
        error: function (e) {
            console.log(e);
        }
    });
    $('#daily-zc-chart').highcharts({
        chart: {
            type: 'column',
            marginTop:50,
			marginRight:20
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: type,
            labels:{
				style:{
					fontFamily:"Microsoft YaHei"
				}
			}
        },
        yAxis: {
            min: 0,
            title: {
                text: '金额/元'
            },
            labels:{
				style:{
					fontFamily:"Microsoft YaHei"
				}
			},
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>'+
                    this.series.name + ': ' + this.y + '元 ';
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '支出',
            data: money,
            showInLegend: false // 设置为 false 即为不显示在图例中
        }]
    });
}

function getIndata(start,end){
    var type = [];
    var money = [];
    $.ajax({
        type: "post",
        url: '/index/chart/get_group_in',
        data:{start:start,end:end},
        dataType:"json",
        cache: true,
        async: false,
        success: function (msg) {
            if(msg.success){
                type = msg.data.type;
                money = msg.data.money;
            }
        },
        error: function (e) {
            console.log(e);
        }
    });
    $('#daily-sr-chart').highcharts({
        chart: {
            type: 'column',
            marginTop:50,
			marginRight:20
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: type,
            labels:{
				style:{
					fontFamily:"Microsoft YaHei"
				}
			}
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: '金额'
            },
            labels:{
				style:{
					fontFamily:"Microsoft YaHei"
				}
			}
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>'+
                    this.series.name + ': ' + this.y + '元 ';
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        series: [{
            name: '收入',
            data: money,
            showInLegend: false, // 设置为 false 即为不显示在图例中
        }],
        plotOptions: { column: { pointPadding: 0.2, borderWidth: 0, pointWidth: 30 } }
    });
}

function fresh_out(){
    getOutdata("","");
    $("#out_reservationtime").val("")
}

function fresh_in(){
    getIndata("","");
    $("#in_reservationtime").val("")
}
</script>


