{layout name="layout"}

<head>
    <link href="/static/css/chart.css" rel="stylesheet">
</head>
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-line-chart"></i> 收支趋势图</h3>
        <!-- page start-->
        <div id="morris">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> {$year}年 收支趋势图</h4>
                        <div class="panel-body">
                            <div id="trend-chart">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="content-panel">
                        <div class="panel-body">
                             <hr>
                            <table class="table table-hover table-all">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>时间</th>
                                        <th>收入</th>
                                        <th>支出</th>
                                        <th>结余</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>总计</td>
                                        <td>{$year}年</td>
                                        <td>￥{$yaer_in}</td>
                                        <td>￥{$yaer_out}</td>
                                        <td>￥{$year_sub}</td>
                                    </tr>
                                    {volist name='inoutList' id='inout'}
                                    <tr>
                                        <td></td>
                                        <td>{$inout.month}月</td>
                                        <td>￥{$inout.in}</td>
                                        <td>￥{$inout.out}</td>
                                        <td>￥{$inout.sub}</td>
                                    </tr>	
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!-- /MAIN CONTENT -->

<script src="/dist/js/highcharts.js"></script>
<script>
    var income = [];
    var outgo = [];
    var sub = [];
    $.ajax({
		type: "get",
		url: '/index/chart/trend_year_inout',
		async: false,
		success: function (msg) {
			if(msg.success){
				income = msg.data.income;
                outgo = msg.data.outgo;
                sub = msg.data.sub;
			}
		},
		error: function (e) {
			console.log(e);
		}
	});
    var chart = new Highcharts.Chart('trend-chart', {
        title: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月',
                '9月', '10月', '11月', '12月']
        },
        yAxis: {
            title: {
                text: '金额/元'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '元'
        },

        series: [{
            name: '支出',
            data: outgo
        }, {
            name: '收入',
            data: income
        }, {
            name: '结余',
            data: sub
        }

        ]
    });

</script>