        <!--footer start-->
        <footer class="site-footer navbar-fixed-bottom" style="z-index:100;padding: 4px 0">
            <div class="text-center">
                2017 - Financial management  <a target="_blank">版本v1.0</a>
                <a href="index.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script type="text/javascript" language="javascript" src="/dist/js/jquery.dcjqaccordion.2.7.js"></script>
    <script type="text/javascript" language="javascript" src="/dist/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" language="javascript" src="/dist/js/jquery.nicescroll.js"></script>
    <script type="text/javascript" language="javascript" src="/dist/js/jquery.sparkline.js"></script>
    <script type="text/javascript" language="javascript" src="/dist/js/common-scripts.js"></script>
    <script type="text/javascript" language="javascript" src="/dist/js/sparkline-chart.js"></script>    
	
	<script>
        $(document).ready(function () {
			$("[data-toggle='popover']").popover(); 
                  
        });
        function logout(){
            location.href="/logout";
        }
    </script>
  
  </body>
</html>