<!-- header start -->
<header class="header black-bg">
	<div class="sidebar-toggle-box">
		<div class="fa fa-bars tooltips" data-placement="right" data-original-title="菜单栏"></div>
	</div>
	<!--logo start-->
	<a href="index.html" class="logo"> Financial management</a>
	<!--logo end-->
	<div class="top-menu">
		<ul class="nav pull-right top-menu top-tools">
			<li data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="备份到本地">
				<img class="backup-img" src="/static/img/backup.png" width="30px" onclick="backup()"/>
			</li>
			<li data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="锁屏">
				<img class="locked-img" src="/static/img/locked.png" width="30px" onclick="location.href='/index/lock/index'"/>
			</li>
			<li data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="注销登录">
				<img class="logout-img" src="/static/img/logout.png" width="30px" onclick="logout()"/>
			</li>
		</ul>
	</div>  
</header>
<!--header end-->