<!--sidebar start-->
<aside>
	<div id="sidebar" class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			<p class="centered">
				<a href="profile.html">
					<img src="/static/img/ui-sam.jpg" class="img-circle" width="60">
				</a>
			</p>
			<h5 class="centered">用户名</h5>
			<li class="mt">
				<a class="active" href="index.html">
				  <i class="fa fa-vcard-o"></i>
				  <span>概览</span>
				</a>
			</li>
			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class="fa fa-cny"></i>
				  <span>记账</span>
				</a>
				<ul class="sub">
				  <li><a  href="general.html">收入</a></li>
				  <li><a  href="buttons.html">支出</a></li>
				  <li><a  href="buttons.html">还款</a></li>
				  <li><a  href="buttons.html">收债</a></li>
				  <li><a  href="buttons.html">预算</a></li>
				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class=" fa fa-bar-chart-o"></i>
				  <span>报表</span>
				</a>
				<ul class="sub">
				  <li><a  href="/index/chart/daily">日常收支表</a></li>
				  <li><a  href="chartjs.html">收支趋势图</a></li>
				  <li><a  href="chartjs.html">成员收支表</a></li>
				  <li><a  href="chartjs.html">资产负债表</a></li>
				  <li><a  href="chartjs.html">收支预算表</a></li>
				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class="fa fa-calendar"></i>
				  <span>周期账本</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class="fa fa-book"></i>
				  <span>理财日记</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class="fa fa-line-chart"></i>
				  <span>汇率查询</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class="fa fa-plus"></i>
				  <span>新功能</span>
				</a>
				<ul class="sub">
				  <li><a  href="form_component.html">信用卡</a></li>
				  <li><a  href="form_component.html">贷款</a></li>
				  <li><a  href="form_component.html">股票</a></li>
				  <li><a  href="form_component.html">+我要加功能</a></li>
				</ul>
			</li>

			<li class="sub-menu">
				<a href="/index/lock/index" >
				  <i class="fa fa-power-off"></i>
				  <span>锁屏</span>
				</a>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" >
				  <i class="fa fa-cogs"></i>
				  <span>设置</span>
				</a>
				<ul class="sub">
				  <li><a  href="calendar.html">个人中心</a></li>
				  <li><a  href="gallery.html">报告设置</a></li>
				  <li><a  href="todo_list.html">分类管理</a></li>
				  <li><a  href="todo_list.html">成员管理</a></li>
				</ul>
			</li>
		</ul>
	<!-- sidebar menu end-->
	</div>
</aside>
<!--sidebar end-->