{layout name="layout"}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Calendar</h3>
        <div class="row mt">
            <aside class="col-lg-3 mt">
                <h4><i class="fa fa-angle-right"></i> 周期支出</h4>
                <div id="external-events">
                    <div class="external-event label label-warning">周支出</div>
                    <div class="external-event label label-danger">月支出</div>
                    <div class="external-event label label-theme">My Event 1</div>
                    <div class="external-event label label-success">My Event 2</div>
                    <div class="external-event label label-info">My Event 3</div>
                    <div class="external-event label label-warning">My Event 4</div>
                    <div class="external-event label label-danger">My Event 1</div>
                    <div class="external-event label label-default">My Event 6</div>
                </div>
                <h4><i class="fa fa-angle-right"></i> 周期收入</h4>
                <div id="external-events">
                    <div class="external-event label label-theme">周支出</div>
                    <div class="external-event label label-info">月支出</div>
                </div>
                <h4><i class="fa fa-angle-right"></i> 自定义周期</h4>
                <div id="external-events">
                    <div class="external-event label label-theme">周支出</div>
                    <div class="external-event label label-info">月支出</div>
                </div>
            </aside>
            <aside class="col-lg-9 mt">
                <section class="panel">
                    <div class="panel-body">
                        <div id="calendar" class="has-toolbar"></div>
                    </div>
                </section>
            </aside>
        </div>
	</section>
</section>

<script src="/dist/js/fullcalendar/fullcalendar.min.js"></script>
<script>

</script>

