{layout name="layout"}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/classify.css">
</head>
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-bar-chart"></i> 分类管理</h3>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-10 mt">
                <div class="content-panel row">
                    <h4><i class="fa fa-angle-right"> 收入分类</i>
                    <hr>
                    <div class="form-group col-lg-12 col-md-12 col-sm-10 row">
                        <label for="intype" class="col-lg-2 col-md-2 col-sm-2 control-label">分类</label>
                        <div class="input-group ">
                            <input type="text" class="col-lg-10 col-md-8 col-sm-10 form-control" id="intype">
                            <span onclick="add_in_type()" class="input-group-addon add-btn">添加</span>
                        </div>
                    </div>
                    <div style="padding-right: 10px;">
                        <table class="table in_type_table">
                            <thead>
                                <tr>
                                    <th>分类</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 类型 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-10 mt">
                <div class="content-panel row">
                    <h4><i class="fa fa-angle-right"> 支出分类</i>
                    <hr>
                    <div class="form-group col-lg-12 col-md-12 col-sm-10 row">
                        <label for="intype" class="col-lg-2 col-md-2 col-sm-2 control-label">分类</label>
                        <div class="input-group ">
                            <input type="text" class="col-lg-10 col-md-8 col-sm-10 form-control" id="outtype">
                            <span onclick="add_out_type()" class="input-group-addon add-btn">添加</span>
                        </div>
                    </div>
                    <div style="padding-right: 10px;">
                        <table class="table out_type_table">
                            <thead>
                                <tr>
                                    <th>分类</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 类型 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-10 mt">
                <div class="content-panel row">
                    <h4><i class="fa fa-angle-right"> 成员分类</i>
                    <hr>
                    <div class="form-group col-lg-12 col-md-12 col-sm-10 row">
                        <label for="intype" class="col-lg-2 col-md-2 col-sm-2 control-label">分类</label>
                        <div class="input-group ">
                            <input type="text" class="col-lg-10 col-md-8 col-sm-10 form-control" id="membertype">
                            <span onclick="add_member_type()" class="input-group-addon add-btn">添加</span>
                        </div>
                    </div>
                    <div style="padding-right: 10px;">
                        <table class="table member_type_table">
                            <thead>
                                <tr>
                                    <th>分类</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 类型 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 300px;">
                <div class="modal-content" style="margin-top:200px;">
                    <div class="modal-header" style="padding:5px;padding-left:10px;border-top-left-radius:5px;border-top-right-radius:5px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" style="font-size:15px;">
                            提示
                        </h4>
                    </div>
                    <div class="modal-body" style="text-align:center;height:70px;padding-top:30px;">
                        操作成功
                    </div>
                    <div class="modal-footer" style="padding: 5px;text-align: center">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>  
    </section>
</section>
<script type="text/javascript" src="/static/js/classify.js"></script>
