{layout name="layout"}
     <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          <h3><i class="fa fa-bar-chart"></i> 分类管理</h3>
              <!-- page start-->
              <div id="morris">
                <div class="row mt">
                    <div class="col-lg-4 col-md-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"> 收入分类</i>
                                <div class="col-lg-12 col-md-12 col-sm-12 table-riji">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>分类</th>
                                            <th>金额</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name='in_type' id='in'}
                                        <tr>
                                            <td>{$in.type}</td>
                                            <td><a onclick="lookIn({$in.id})" class="tooltips" data-placement="bottom" data-original-title="查看{$in.title}">{$in.title}</a></td>
                                            <td>
                                                <a onclick="editIn({$t_in.id})" class="tooltips" data-placement="bottom" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                                                <a onclick="delIn({$t_in.id})" class="tooltips" data-placement="bottom" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>	
                                        {/volist}				
                                    </tbody>
                                </table>
                            </div>
                            <div class="page-riji col-lg-12 col-md-12 col-sm-12 row">
                                {$list->render()}
                            </div>



                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"> 支出分类</i>


                        </div>                     
                    </div>
                     <div class="col-lg-4 col-md-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"> 成员管理</i>
                            


                        </div>
                    </div>
                  

                </div> 
             </div>
        <!-- page end-->
    </section>
</section><!-- /MAIN CONTENT -->

