{layout name="layout"}
<head>
	<link href="/static/css/personal.css" rel="stylesheet">
</head>
<section id="main-content">
	<section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 个人中心</h3>

        <div class="row mt">
            <div class="col-lg-11 col-md-12 col-sm-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 个人资料</h4>
                    <hr>
                    <form class="form-horizontal style-form row">
                        <div class="col-lg-4 col-md-4 col-sm-12 centered icon">
                            <img src="/static/img/ui-sam.jpg" class="img-circle get-icon" style="width: 120px;border: 1px solid #797979">
                            <a type="button" class="icon-btn" onclick="changeIcon()">修改头像</a>
                        </div>
                        <div class="row col-lg-7 col-md-7 col-sm-12" >
                            <table class="table personal-table">
                                <tbody>
                                    <tr>
                                        <td>用户名</td>
                                        <td>
                                            <div class="input-group">
                                                <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                                    <label ><i class="fa fa-user-o "></i></label>
                                                </span>
                                                <input type="text" class="form-control" id="nikename"/>										
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>真实姓名</td>
                                        <td>
                                            <div class="input-group">
                                                <span style="padding:3px 4px 0px 4px;" class="input-group-addon">
                                                    <label ><i class="fa fa-vcard-o "></i></label>
                                                </span>
                                                <input type="text" class="form-control" id="realname"/>										
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>性别</td>
                                        <td>
                                            <div class="input-group">
                                                <span style="padding:4px 4px 0px 4px;" class="input-group-addon">
                                                    <label ><i class="fa fa-venus-mars "></i></label>
                                                </span>
                                                <select type="text" class="form-control" id="sex">
                                                    <option>男</option>
                                                    <option>女</option>
                                                </select>
                                            </div> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>手机号</td>
                                        <td>
                                            <div class="input-group">
                                                <span style="padding:3px 8px 0px 8px;" class="input-group-addon">
                                                    <label ><i class="fa fa-mobile-phone fa-lg"></i></label>
                                                </span>
                                                <input type="text" class="form-control" id="phone" />										
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>上次登陆时间</td>
                                        <td>
                                            <div class="input-group">
                                                <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                                    <label ><i class="fa fa-clock-o "></i></label>
                                                </span>
                                                <input type="text" class="form-control" id="last_time" disabled/>										
                                            </div>      
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button type="button" onclick="save_person()" class="btn btn-default btn-sm person-btn">提交资料</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>     
            </div>   
        </div>

        <div class="row mt">
            <div class="col-lg-11 col-md-12 col-sm-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 安全设置</h4>
                    <hr>
                    <table class="table safe-table">
                        <tbody>
                            <tr>
                                <td>安全邮箱</td>
                                <td colspan="3" style="position: relative">
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label><i class="fa fa-envelope-o "></i></label>
                                        </span>
                                        <input type="text" class="form-control" id="email" disabled/>										
                                    </div>
                                    <button type="button" onclick="show_change()" class="btn btn-default btn-sm emailshow-btn">修改安全邮箱</button>
                                    <button type="button" onclick="change_email()" class="btn btn-default btn-sm email-btn">确认修改</button>
                                    <p class="email-error" style="position: absolute;left: 330px;top: 9px;margin: 0px;color: red;"></p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>安全问题设置</td>
                                <td>
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label >问1</label>
                                        </span>
                                        <select type="text" class="form-control" id="safe_q_1">
                                            <option>你父亲的名字</option>
                                            <option>你母亲的名字</option>
                                            <option>你小学班主任名字</option>
                                            <option>你配偶的名字 </option>
                                        </select>										
                                    </div>     
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label >答1</label>
                                        </span>
                                        <input type="text" class="form-control" id="safe_a_1"/>										
                                    </div>     
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label >问2</label>
                                        </span>
                                        <select type="text" class="form-control" id="safe_q_2">
                                            <option>你的学号</option>
                                            <option>你的工号</option>
                                            <option>你的出生地</option>
                                            <option>你就读过的学校</option>
                                        </select>										
                                    </div>     
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label >答2</label>
                                        </span>
                                        <input type="text" class="form-control" id="safe_a_2" />										
                                    </div>     
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label >问3</label>
                                        </span>
                                        <select type="text" class="form-control" id="safe_q_3" >
                                            <option>你父亲的生日</option>
                                            <option>你母亲的生日</option>
                                            <option>你的生日</option>
                                            <option>你配偶的生日</option>
                                        </select>										
                                    </div>     
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label >答3</label>
                                        </span>
                                        <input type="text" class="form-control" id="safe_a_3" />										
                                    </div>     
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="button" onclick="save_person()" class="btn btn-default btn-sm pwd-btn">提交安全问题</button></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>修改密码</td>
                                <td colspan="3"><button type="button" onclick="show_change_pwd()" class="btn btn-default btn-sm pwd-btn">修改密码</button></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>     
            </div>   
        </div>

        <div class="row mt">
            <div class="col-lg-11 col-md-12 col-sm-12">
                <div class="content-panel" style="margin-bottom: 50px;">
                    <h4><i class="fa fa-angle-right"></i> 报告设置</h4>
                    <hr>
                    <table class="table report-table">
                        <tbody>
                            <tr>
                                <td>接收邮箱</td>
                                <td colspan="3" style="position: relative">
                                    <div class="input-group">
                                        <span style="padding:3px 6px 0px 6px;" class="input-group-addon">
                                            <label><i class="fa fa-envelope-o "></i></label>
                                        </span>
                                        <input type="text" class="form-control" id="send_email" disabled/>										
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>报告设置</td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" checked>收入
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" checked>支出
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox">月预算
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox">债权债务
                                        </label>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>发送频率</td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox">每周
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" checked>每月
                                        </label>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="button" onclick="show_success()" class="btn btn-default btn-sm pwd-btn">提交设置</button></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>     
            </div>   
        </div>
        
        <div class="modal fade" id="change-icon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="imageBox">
                                <div class="thumbBox"></div>
                                <div class="spinner" style="display: none"></div>
                            </div>
                            <div class="action"> 
                                <div class="new-contentarea tc">
                                    <a href="javascript:void(0)" class="upload-img">
                                        <label for="upload-file">请先选择图片...</label>
                                    </a>
                                    <input type="file" class="" name="upload-file" id="upload-file" />
                                </div>
                                <input type="button" id="btnCrop"  class="Btnsty_peyton" value="OK">
                                <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                                <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                            </div>
                            <div class="cropped"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 提示框 -->
        <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 300px;">
                <div class="modal-content" style="margin-top:200px;">
                    <div class="modal-header" style="padding:5px;padding-left:10px;border-top-left-radius:5px;border-top-right-radius:5px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" style="font-size:15px;">
                            提示
                        </h4>
                    </div>
                    <div class="modal-body" style="text-align:center;height:70px;padding-top:30px;">
                        操作成功
                    </div>
                    <div class="modal-footer" style="padding: 5px;text-align: center">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改密码 -->
        <div class="modal fade" id="changepwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 450px;">
                <div class="modal-content" style="margin-top:200px;">
                    <div class="modal-header" style="padding:5px;padding-left:10px;border-top-left-radius:5px;border-top-right-radius:5px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" style="font-size:15px;">
                            修改密码
                        </h4>
                    </div>
                    <div class="modal-body" style="padding-top:30px;padding-bottom: 10px;">
                        <table class="table table-bordered pwd-table">
                            <tbody>
                                <tr>
                                    <td>原密码</td>
                                    <td>
                                        <input type="password" class="form-control" id="opassword" placeholder="输入原密码"/>
                                        <label>*必填</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>新密码</td>
                                    <td>
                                        <input type="password" class="form-control" id="npassword" placeholder="6~8个字符"/>
                                        <label>*必填</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>重复新密码</td>
                                    <td>
                                        <input type="password" class="form-control" id="rpassword" placeholder="再次输入新密码"/>
                                        <label>*必填</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="error_msg"></div>
                    </div>
                    <div class="modal-footer" style="padding: 5px;text-align: center">
                        <button type="button" onclick="change_pwd()" class="btn btn-default btn-sm">确认</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" src="/dist/js/cropbox.js"></script>
<script type="text/javascript" src="/static/js/personal.js"></script>


